<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acconts</title>
    <link rel="stylesheet" href="./css/index.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light ">
        <div class="container-fluid">

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="" aria-current="page" href="./manager.html">Manager</a>
                    </li>
                    <li class="nav-item">
                        <a class="" href="#">Acconts</a>
                    </li>
                    <li class="nav-item">
                        <a class="" href="./cards.html">Cards</a>
                      </li>

                </ul>

            </div>
    </nav>
<main class="main2" id="app">

    <h1>Clients Acconts</h1>
    <table >
        <thead>
            <tr>
               
                <th>Accont Number</th>
                <th>Time created</th>
                <th>Balance</th>
                <th>Transfer</th>
            </tr>
        </thead>
        <tbody v-for="valor of datos.accountDTOS">
            <tr>
                <td>{{valor.number}} </td>
                <td>{{valor.creationDate}} </td>
                <td>{{valor.balance}} </td>
                <td> <a :href= '"./account.html?id="+valor.id'> <img class="logooo" src="./img/logooo.png" alt="" > </a></td>
            </tr>
        </tbody>
    </table>

    <h1>LOANS</h1>
    <template v-if="datos.clientLoanDTOS.length > 0">
        <table >
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Amount</th>
                    <th>Dues</th>
                </tr>
            </thead>
                <tbody >
                    <template v-for="valor of datos.clientLoanDTOS">
                        <tr>
                            <td>{{valor.name}} </td>
                            <td>{{valor.amount}} </td>
                            <td>{{valor.payments}} </td>
                        </tr>
                    </template>
                </tbody>
        </table>
    </template>
    <template v-else="">
        <h2> The client has no loans </h2>
    </template>
    

</main>
    





    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>


    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <script src="./js/acconts.js"></script>

</body>

</html>