*{
    margin: 0;
    padding: 0;
}
header{
    background-image: url(../img/colores.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    width: 1700px;
    height: 35vh;
    background-position: center;
}
header nav a{
    color: white;
    background-color: rgb(224, 119, 224);
    border-radius: 20px;
    padding: 4px;
    border: 2px solid white;
    text-decoration: none;
}
h1{
    color: white;
    padding-left: 5em;
}
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
body{
    background-color: rgb(96, 138, 223);
}
th,td{
    border: 2px solid black;
    color: white;
    background-color: rgba(0, 0, 0, 0.632);
    padding: 4px;
}
table{
    background-color: rgba(27, 27, 27, 0.455);
     border: 1px solid rgb(0, 0, 0);
     padding: 5px;
}
caption{
    color: white;
    font-size: 13px;
}
form{
   width: 16em;
   background-color: rgb(26, 67, 117);
   height: 15em;
   color: white;
   margin-left: 17px;
   margin-top: 30px;
}
.fieldset{
    width: 14em;
    margin-left: 10px;
}

input{
   margin: .5em;
}
label{
    margin-left: 10px;
}
.img-1{
    width:10em;
    height: 15em;
}
.padre-contenedor{
    background-color: rgb(26, 67, 117);
    width: 15em;
    height: 28em;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 50px;
}
h2{
    color: white;
    margin: 20px;
}
ul{
    margin: 20px;
}
.padre-contenedor a{
    border: 2px solid white;
    color:  white;
    padding: 8px;
    border-radius: 10px;
    text-decoration: none;
}
.contenedor-todo{
    display: flex;
    margin-left: 8em;
    margin-top: 30px;
}
.table-form{
    display: flex;
    flex-direction: column;
    margin-top: 3.4em;
    margin-left: 8em;
}
main{
    display: flex;
}
footer{
    background-color: rgb(41, 40, 40);
    display: flex;
    justify-content: space-around;
    height: 4vh;
    align-items: center;
    color: white;
    border: 8px solid rgb(36, 36, 36);
    margin-top: 3em;
}
footer a{
    color: white;
}
@media(min-width:1024px) and (max-width:1440px){
     main{
        flex-direction: column  ;
    }
    main{
        flex-direction: column  ;
    }
    .contenedor-todo{
    margin: 0px;
    margin-top: 20px;
    }
     .table-form{
    margin: 0px;
    margin-left: 20em;
    margin-top: 20px;
   }
}
@media(min-width: 1024px) and (max-width:1440px){
    .contenedor-todo{
        margin: 0px;
        margin-top: 20px;
        margin-left: 4em;
        }
         .table-form{
        margin: 0px;
        margin-left: 20em;
        margin-top: 20px;
       }
       .padre-contenedor{
        margin-top: 20px;
       }
       .table-form{
        margin: 0px;
        margin-left: 23em;
        margin-top: 20px;
       }
}
@media(min-width: 768px) and (max-width:1023px){
    main{
        flex-direction: column ;
    }
    .contenedor-todo{
    margin: 0px;
    margin-top: 20px;
    margin-left: 13em;
    }
     .table-form{
    margin: 0px;
    margin-left: 20em;
    margin-top: 20px;
   }
   .contenedor-todo{
    flex-direction: column;
   }
   .padre-contenedor{
    margin-top: 20px;
   }
   .table-form{
    margin: 0px;
    margin-left: 15em;
    margin-top: 20px;
   }
}
@media(min-width: 424px) and (max-width:767px){
    main{
        flex-direction: column ;
    }
    .contenedor-todo{
    margin: 0px;
    margin-top: 20px;
    margin-left: 40px;
    }
     .table-form{
    margin: 0px;
    margin-left: 20em;
    margin-top: 20px;
   }
   .contenedor-todo{
    flex-direction: column;
   }
   .padre-contenedor{
    margin-top: 20px;
   }
   .table-form{
    margin: 0px;
    margin-left: 60px;
    margin-top: 20px;
   }
   header{
    flex-direction: column;
   }
   h1{
    margin: 0px;
    padding: 0px;
    color: rgb(168, 168, 168);
   }
}
@media(min-width: 375px) and (max-width:423px){
    main{
        flex-direction: column ;
    }
    .contenedor-todo{
    margin: 0px;
    margin-top: 20px;
    margin-left: 20px;
    }
     .table-form{
    margin: 0px;
    margin-left: 20em;
    margin-top: 20px;
   }
   .contenedor-todo{
    flex-direction: column;
   }
   .padre-contenedor{
    margin-top: 20px;
   }
   .table-form{
    margin: 0px;
    margin-left: 40px;
    margin-top: 20px;
   }
   header{
    flex-direction: column;
   }
   h1{
    margin: 0px;
    padding: 0px;
    color: rgb(168, 168, 168);
   }
}
@media(min-width:320px) and (max-width:374px){
    main{
        flex-direction: column ;
    }
    .contenedor-todo{
    margin: 0px;
    margin-top: 20px;
    }
     .table-form{
    margin: 0px;
    margin-left: 20em;
    margin-top: 20px;
   }
   .contenedor-todo{
    flex-direction: column;
   }
   .padre-contenedor{
    margin-top: 20px;
   }
   .table-form{
    margin: 0px;
    margin-left: 20px;
    margin-top: 20px;
   }
   header{
    flex-direction: column;
   }
   h1{
    margin: 0px;
    padding: 0px;
    color: rgb(168, 168, 168);
   }
}
