*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}
header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(0, 157, 255);
    align-items: center;
    max-width: 100%;
    width: 1700px;
    height: 50px;
}
h1{
    text-align: center;
    margin-top: 20px;
}
header nav a{
    margin: 2px;
    border-radius: 10px;
    color: black;
    padding: 0.7em 1.7em;
    font-size: 9px;
    border-radius: 0.5em;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    transition: all .3s;
    box-shadow: 3px 3px 6px #618ac0,
             -3px -3px 6px #637bc9;
}
header nav a:hover{
    box-shadow: 3px 3px 6px #074aa0,
             -3px -3px 6px #06227e;
}
header nav a:active {
    color: #666;
    box-shadow: inset 2px 2px 6px #c5c5c5,
                inset -2px -2px 6px #ffffff;
   }
.logo{
    width: 40px;
    margin-right: 30px;
}
.img-uno,.img-dos,.txt-one,.titulo{
    display: none;
}
.txt-superpuesto{
   background-image: url(../images/cake.png);
   background-repeat: no-repeat;
   background-size: cover;
   width: 150vh;
   height: 50vh;
   align-items: center;
   text-align: center;
   justify-content: center;
   margin-left: 25vh;
   margin-top: 5vh;
   border-radius: 40px;
}
.txt-superpuesto-dos{
    background-image: url(../images/cake-strawberry.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 40vh;
    height: 30vh;
    margin-left: 80vh;
    margin-top: 20px;
    text-align: center;
    border-radius: 40px;
}
.parrafo-superpuesto{
    color: #000000;
    padding-top: 70px;
}
.clase-h1{
    color: rgb(0, 0, 0);
    padding-top: 20vh;
}
/* ------------------------------------------button-------------------------------------------------------------------- */
.txt-superpuesto nav a {
    --color: #010101;
    font-family: inherit;
    display: inline-block;
    width: 8em;
    height: 2.6em;
    line-height: 2.5em;
    margin: 20px;
    position: relative;
    overflow: hidden;
    border: 2px solid var(--color);
    transition: color .5s;
    z-index: 1;
    font-size: 17px;
    border-radius: 15px;
    font-weight: 500;
    color: var(--color);
}
   
.txt-superpuesto nav a:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--color);
    height: 150px;
    width: 200px;
    border-radius: 50%;
}
   
.txt-superpuesto nav a:hover {
    color: #fff;
}
   
.txt-superpuesto nav a:before {
    top: 100%;
    left: 100%;
    transition: all .7s;
}
   
.txt-superpuesto nav a:hover:before {
    top: -30px;
    left: -30px;
}
   
.txt-superpuesto nav a:active:before {
    background: #d0e31f;
    transition: background 0s;
}
/* -----------------------------abouts-------------------------------------------------------------------------------------------- */
.imagenes{
    width: 250px;
    height: 200px;
    border-radius: 30px;
}
.imagenes-dos{
    width: 250px;
    height: 200px;
    border-radius: 30px;
}
.imagenes-tres{
    width: 250px;
    height: 200px;
    border-radius: 30px;
}
.texto{
   width: 250px;
   margin-top: 50px;
}
.texto-two{
    width: 250px;
    margin-top: 50px;
}
.texto-tres{
    width: 250px;
    margin-top: 50px;
}
.padre-about{
    width: 280px;
    display: flex;
    flex-direction: column;
}
.padre-about-dos{
    width: 280px;
    display: flex;
    flex-direction: column;
}
.padre-about-tres{
    width: 280px;
    display: flex;
    flex-direction: column;
}
.padre-container{
    display: flex;
    justify-content: space-evenly;
    margin-top: 17vh;
}
/* ------------------------------------------------------contact---------------------------------------------------------- */
.fondo-uno{
    display: none;
}
.titulo-contact{
    display: none;
}
.fondo-superpuesto-contact{
    background-image: url(../images/white-cake.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 140vh;
    height: 50vh;
    margin-left: 28vh;
    margin-top: 10vh;
    border-radius: 40px;
}
.text-contac{
    width: 200px;
}
.container-contact{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10vh;
}
.h1-contact{
    padding-top: 30vh;
}
/* -------------------------------------------AVALIBLE-SERVICES------------------------------------------- */
table,tr,th,td{
    border: 2px solid black;
    border-collapse: collapse;
}
table{
    margin-left: 65vh;
    margin-top: 2vh;
    width: 70vh;
    height: 35vh; 
}
th{
    width: 0px;
    padding: 30px;
}
td{
    text-align: center;
    padding: 20px;
}
caption{
    text-align: left;
    font-size: 25px;
    margin: 2px;
}
.tema-uno{
    background-color: rgb(0, 157, 255);
}
.tema-dos{
    background-color: #ffffff;
}
.tema-tres{
    background-color: rgb(0, 157, 255);
}
/* -----------------------------------------COURSES----------------------------------------------------------- */
.course-img{
    width: 250px;
    height: 200px;
    margin-top: 8vh;
    border-radius: 40px;
}
.img-padre{
    display: flex;
    margin-left: 10vh;
    justify-content: center;
    align-items: center;
    
}
ul li{
    margin-left: 10vh;
    width: 60vh;
    
}

.h3-courses{
    margin-left: 8vh;
    margin-top: 8vh;
}
/* -----------------------------------------FORM----------------------------------------------------------------- */
.img-form{
    width: 250px;
    height: 200px;
    border-radius: 40px;
    margin-top: 5vh;
}
.img-padre-form{
    display: flex;
    flex-direction: column;
    height: 70vh;
    justify-content: center;
    margin-left: 30vh;
    width: 40vh;
    align-items: center;
}
.QUESTION_TITLE {
    color: black;
    margin: 60px 0px 0px 0px;
    text-align: center;
}
.QUESTION_TITLE_DOS {
    text-align: center;
    color: blue;
}
.QUESTION_TITLE_THREE {
    margin: 30px;
    font-size: 15px;
    width: 70vh;
    color: black;
}
form {
    text-align: left;
}
.FORM_UNO {
    margin: 0px 0px 0px 25px;
    color: black;
}
.FORM_TWO {
    margin: 0px 0px 0px 10px;
}
.FORM_THREE {
    margin: 0px 0px 0px 25px;
}
.FORM_FOUR {
    margin: 0px 0px 0px 10px;
}
.FORM_FIVE {
    margin: 0px 0px 0px 25px;
}
.FORM_SIX {
    margin: 0px 0px 0px 10px;
}

.FORM_SEVEN {
    margin: 0px 0px 0px 25px;
}
.FORM_EIGHT {
    margin: 0px 0px 0px 10px;
}
.FORM_NINE {
    margin: 0px 0px 0px 25px;
}
.FORM_TEN {
    margin: 0px 0px 0px 25px;
}
.FORM_ELEVEN {
    margin: 0px 0px 0px 25px;
}
.INPUT_ONE,
.INPUT_TWO,
.INPUT_THREE {
    margin: 0px 0px 0px 25px;
}
.FORM_TEXT_ONE {
    margin-left: 18px;
}
.FORM_TEXT_TWO {
    margin-left: 10px;
}
.FORM_TEXT_THREE {
    margin-left: 38px;
}
.FORM_TEXT_FOUR {
    margin-left: 18px;
}
.FORM_TEXT_FIVE {
    margin: 0px 0px 0px 63px;
}
.FORM_TEXT_SIX {
    margin: 0px 0px 0px 35px;
}
.FORM_TEXT_SEVEN {
    margin: 0px 0px 0px 49px;
}
.FORM_TEXT_EIGHT {
    margin: 0px 0px 0px 43px;
}
.FORM_TEXT_NINE {
    margin: 0px 0px 0px 31px;
}
.FORM_TEXT_TEN {
    margin: 0px 0px 0px 43px;
}
.FORM_TEXT_ELEVEN {
    margin: 0px 0px 0px 32px;
}
.FORM_TEXT_TWELVE {
    margin: 0px 0px 0px 160px;
}
.FORM_TEXT_THIRTEEN {
    margin: 0px 0px 0px 160px;
}
.FORM_CONTAINER_ONE {
    display: flex;
    color: black;
}
.FORM_CONTAINER_TWO {
    display: flex;
    color: black;
}
.FORM_CONTAINER_THREE {
    display: flex;
    color: black;
}
.FORM_CONTAINER_FOUR {
    display: flex;
    color: rgb(0, 0, 0);
}
.FORM_CONTAINER_FIVE {
    color: black;
}
.FORM_CONTAINER_SIX {
    display: flex;
    color: black;
}
.FORM_CONTAINER_SEVEN {
    display: flex;
    color: black;
}
.FORM_CONTAINER_EIGTH {
    color: black;
    margin-left: 27vh;
}
.FORM_CONTAINER_NINE {
    color: black;
    margin: 30px;
    margin-left: 10vh;
}
.padre-form{
    flex-direction: column;
    margin-left: 0vh;
    height: 50vh;
    width: 80vh;
    background-color: rgba(66, 185, 189, 0.496);
    border: 2px solid black;
    border-radius: 10px;
}
.CONTAINER_IMG {
    margin: 100px 0px 0px 0px;
    margin-left: 35vh;
    width: 35vh
}
.IMG_FORM_TWO {
    margin: 40px 0px 0px 0px;
}
.MARGI_FORM_ONE,
.MARGI_FORM_TWO {
    border: 2px solid rgb(0, 255, 221);
    border-radius: 9px;
}
footer {
    background-color: #4ebad5;
}
.LOCATION{
    margin-left: 50vh;
    border-radius: 20px;
    width:"200px";
    height:"150";
}
hr {
    border: 1px solid rgb(0, 0, 0);
    margin: -23vh 0px 0px 0px;
}
.padre-todo-form{
    display: flex;
    justify-content: space-evenly;
    margin-top: 8vh;
    align-items: center;
}
/* --------------------------PORTATIL----------------------------------------------------------------------------------------- */
@media (min-width: 1024px) and (max-width: 1439px){
    /* ---------------home--------------------- */
    .txt-superpuesto{
        width: 144vh;
        margin: 0px;
        margin-left: 5.3vh;
    }
    .txt-superpuesto-dos{
        margin: 0px;
        margin-left: 56vh;
        margin-top: 5vh;
    }
    /* ---------------abouts--------------------- */
    .padre-container{
        flex-direction: column;
        margin-top: 2vh;
        margin-left: 58vh;
    }
    .texto,.texto-two,.texto-tres{
        margin-top: 10px;
    }
    .imagenes-dos,.imagenes-tres{
        margin-top: 5vh;
    }
    /* ---------------contact--------------------- */
    .fondo-superpuesto-contact{
        width: 129vh;
        height: 40vh;
        margin-left: 13.5vh;
        margin-top: 10vh;
    }
    .h1-contact{
        padding-top: 15vh;
    }
    .container-contact{
        flex-direction: column;
        margin-left: 10vh;
    }
    .correo{
        margin-top: 8vh;
        margin-left: 54vh;
    }
    .phone{
        margin-left: 54vh;
    }
    .text-contac{
        margin-left: 54vh;
    }
    /* ----------------avaible-services-------------- */
    table{
        margin-left: 25vh;
        margin-top: 30px;
        width: 0vh;
    }
    th{
        width: 0px;
        padding: 40px;
    }
    td{
        text-align: center;
        padding: 30px;
    } 
}
/* --------------------------TABLE----------------------------------------------------------------------------------------- */
@media (min-width: 768px) and (max-width: 1023px){
    /* ---------------home--------------------- */
    .txt-superpuesto{
        width: 75vh;
        margin: 0px;
        margin-left: 20vh;
    }
    .txt-superpuesto-dos{
        margin: 0px;
        margin-left: 38vh;
        margin-top: 5vh;
    }
    /* ---------------abouts--------------------- */
    .padre-container{
        flex-direction: column;
        margin-top: 2vh;
        margin-left: 38.2vh;
    }
    .texto,.texto-two,.texto-tres{
        margin-top: 10px;
    }
    .imagenes-dos,.imagenes-tres{
        margin-top: 5vh;
    }
    /* ---------------contact--------------------- */
    .fondo-superpuesto-contact{
        width: 90vh;
        height: 40vh;
        margin-left: 13.5vh;
        margin-top: 10vh;
    }
    .h1-contact{
        padding-top: 15vh;
    }
    .container-contact{
        flex-direction: column;
        margin-left: 10vh;
    }
    .correo{
        margin-top: 8vh;
        margin-left: 35vh;
    }
    .phone{
        margin-left: 35vh;
    }
    .text-contac{
        margin-left: 35vh;
    }
    /* ----------------avaible-services-------------- */
    table{
        margin-left: 27vh;
        margin-top: 30px;
        width: 0vh;
    }
    th{
        width: 0px;
        padding: 20px;
    }
    td{
        text-align: center;
        padding: 15px;
    } 
}
/* --------------------------PHONE-3----------------------------------------------------------------------------------------- */
@media (min-width: 425px) and (max-width: 767px){
    /* ---------------home--------------------- */
    .txt-superpuesto{
        width: 56vh;
        height: 46vh;
        margin: 0px;
        margin-left:4.3vh;
    }
    .txt-superpuesto-dos{
        margin: 0px;
        margin-left: 13vh;
        margin-top: 5vh;
    }
    /* ---------------abouts--------------------- */
    .padre-container{
        flex-direction: column;
        margin-top: 2vh;
        margin-left: 14vh;
    }
    .texto,.texto-two,.texto-tres{
        margin-top: 10px;
    }
    .imagenes-dos,.imagenes-tres{
        margin-top: 5vh;
    }
    /* ---------------contact--------------------- */
    .fondo-superpuesto-contact{
        width: 45vh;
        height: 30vh;
        margin-left: 10vh;
        margin-top: 10vh;
    }
    .h1-contact{
        padding-top: 15vh;
    }
    .container-contact{
        flex-direction: column;
        margin-left: 10vh;
    }
    .correo{
        margin-top: 8vh;
        margin-left: 8vh;
    }
    .phone{
        margin-left: 8vh;
    }
    .text-contac{
        margin-left: 8vh;
    }
     /* ----------------avaible-services-------------- */
     table{
        margin-left: 38px;
        margin-top: 55px;
        width: 0vh;
    }
    th{
        width: 0px;
        padding: 10px;
    }
    td{
        text-align: center;
        padding: 8px;
    } 
}
/* --------------------------PHONE-2----------------------------------------------------------------------------------------- */
@media (min-width: 375px) and (max-width: 424px){
    /* ---------------home--------------------- */
    .txt-superpuesto{
        width: 46vh;
        height: 46vh;
        margin: 0px;
        margin-left: 5.5vh;
    }
    .txt-superpuesto-dos{
        margin: 0px;
        margin-left: 8.7vh;
        margin-top: 5.3vh;
    }
    /* ---------------abouts--------------------- */
    .padre-container{
        flex-direction: column;
        margin-top: 2vh;
        margin-left: 10vh;
    }
    .texto,.texto-two,.texto-tres{
        margin-top: 10px;
    }
    .imagenes-dos,.imagenes-tres{
        margin-top: 5vh;
    }
    /* ---------------contact--------------------- */
    .fondo-superpuesto-contact{
        width: 45vh;
        height: 30vh;
        margin-left: 6.3vh;
        margin-top: 10vh;
    }
    .h1-contact{
        padding-top: 15vh;
    }
    .container-contact{
        flex-direction: column;
        margin-left: 10vh;
    }
    .correo{
        margin-top: 8vh;
    }
     /* ----------------avaible-services-------------- */
     table{
        margin-left: 12px;
        margin-top: 50px;
        width: 0vh;
    }
    th{
        width: 0px;
        padding: 10px;
    }
    td{
        text-align: center;
        padding: 8px;
    } 
}
/* --------------------------PHONE-1----------------------------------------------------------------------------------------- */
@media (min-width: 320px) and (max-width: 374px){
    /* ---------------home--------------------- */
    .txt-superpuesto{
        width: 46vh;
        height: 46vh;
        margin: 0px;
        margin-left: 1.3vh;
    }
    .txt-superpuesto-dos{
        margin: 0px;
        margin-left: 5vh;
        margin-top: 5vh;
    }
     /* ---------------abouts--------------------- */
    .padre-container{
        flex-direction: column;
        margin-top: 2vh;
        margin-left: 5vh;
    }
    .texto,.texto-two,.texto-tres{
        margin-top: 10px;
    }
    .imagenes-dos,.imagenes-tres{
        margin-top: 5vh;
    }
     /* ---------------contact--------------------- */
    .fondo-superpuesto-contact{
        width: 45vh;
        height: 30vh;
        margin-left: 1.5vh;
        margin-top: 10vh;
    }
    .h1-contact{
        padding-top: 15vh;
    }
    .container-contact{
        flex-direction: column;
        margin-left: 10vh;
    }
    .correo{
        margin-top: 8vh;
    }
    /* ----------------avaible-services-------------- */
    table{
        margin-left: 0px;
        margin-top: 40px;
        width: 0vh;
    }
    th{
        width: 0px;
        padding: 5px;
    }
    td{
        text-align: center;
        padding: 8px;
    } 
    nav{
        display: flex;
        flex-direction: column;
    }
    header{
        height: 150px;
        margin: 0px;
        padding: 0px;
    }
}
