<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PetShop Huellitas</title>
</head>

<body>
    <div id="app">
        <div class="offcanvas-body" v-if="productosDelCarrito.length >= 1">
            <div class="card mb-3" style="max-width: 540px;" v-for="producto in productosDelCarrito">
                <div class="row g-0 align-items-center">
                    <div class="col-md-4 cart-responsive2">
                        <img v-bind:src="producto.imagen" class="img-fluid rounded-start img-cart" alt="...">
                    </div>
                </div>

                <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
                <script src="./carrito.js"></script>
</body>

</html>