*{
    margin: 0;
    padding: 0;
}
:root {
    font-family: sans-serif;
}
header {
    background-color: rgb(176, 120, 241);
    color: white;
    height: 10vh;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}
h1 {
    text-align: center;
}
table, tr, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
table {
    text-align: center;
    background-color: pink;
}
 .descripcion {
    width: 8rem;
    background-color: blue;
}
.detalles {
    width: 10rem;
    background-color: aquamarine;
}
.totales {
    width: 12rem;
    background-color: green;
} 
tfoot{
   height: 2rem;
   background-color: pink;
}
caption {
    caption-side: bottom;
    text-align: start;
    background-color: red;
}


